@model Garage3.Models.Garage
<partial name="_GaragesMenu" />

<h4>Edit Garage</h4>
<hr />
<div class="row">
	<div class="col-md-4">
		<form asp-action="GarageEdit">
			<div asp-validation-summary="ModelOnly" class="text-danger"></div>
			<input type="hidden" asp-for="Id" />
			<div class="form-group">
				<label asp-for="Name" class="control-label"></label>
				<input asp-for="Name" class="form-control" />
				<span asp-validation-for="Name" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="Size" class="control-label"></label>
				<input asp-for="Size" class="form-control" />
				<span asp-validation-for="Size" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="SlotSize" class="control-label"></label>
				<input asp-for="SlotSize" class="form-control" />
				<span asp-validation-for="SlotSize" class="text-danger"></span>
			</div>
			<div class="form-group">
				<input type="submit" value="Save" class="btn btn-primary" />
			</div>
		</form>
	</div>
</div>

@section Scripts {
	@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
