@{
	ViewData["Title"] = "Admin";
}

<hr />
<div class="row">
    <div class="col-md-2">
        <a asp-action="Index"><h4>Admin</h4></a>
    </div>
    <div class="col-md-2">
        <a asp-action="GaragesList">Garages</a>
    </div>
    <div class="col-md-2">
        <a asp-action="VehicleTypesList">VehicleTypes</a>
    </div>
    <div class="col-md-2">
        <a asp-action="PersonsList">Persons</a>
    </div>
    <div class="col-md-2">
        <a href="\img\Group2_Garage3_DRM_Diagram.jpg">DRM Diagram</a>
    </div>
</div>
<hr />

