@{
	ViewData["Title"] = "Admin";
}

<hr />
<div class="row">
	<div class="col-md-2">
		<a asp-action="Index"><h4>Admin</h4></a>
	</div>
	<div class="col-md-2">
		<a asp-action="GaragesList">Garages</a>
	</div>
	<div class="col-md-2">
		<a asp-action="GarageNew">New Garage</a>
	</div>
</div>

