@{
	ViewData["Title"] = "OverViews";
}

<hr />
<div class="row">
	<div class="col-md-2">
		<a asp-action="GaragesList">Garages</a>
	</div>
	<div class="col-md-2">
		<a asp-action="ParkedVehicles">Parked Vehicles</a>
	</div>
	<div class="col-md-2">
		<a asp-action="Members">Members</a>
	</div>
	<div class="col-md-2">
		<a asp-action="PersonsList">OverView3</a>
	</div>
	<div class="col-md-2">
		<a asp-action="PersonsList">Statistics</a>
	</div>
</div>
<hr />

