@{
	ViewData["Title"] = "OverViews";
}

<div class="row">
	<div class="col-md-2">
		<a class="nav-link text-dark" asp-action="GaragesList">Garages</a>
	</div>
	<div class="col-md-2">
		<a class="nav-link text-dark" asp-action="ParkedVehicles">Parked Vehicles</a>
	</div>
	<div class="col-md-2">
		<a class="nav-link text-dark" asp-area="" asp-controller="OverView" asp-action="Search">Search</a>
	</div>
</div>
<hr />

