@{
	ViewData["Title"] = "Admin";
}

<hr />
<div class="row">
	<div class="col-md-2">
		<a asp-action="Index"><h4>VehicleType Admin</h4></a>
	</div>
	<div class="col-md-2">
		<a asp-action="VehicleTypesList">VehicleTypes</a>
	</div>
	<div class="col-md-2">
		<a asp-action="VehicleTypeCreate">New VehicleType</a>
	</div>
</div>

