@model Garage3.Models.ViewModels.CheckInViewModel

@{
    ViewData["Title"] = "CheckIn";
}

<h1>CheckIn</h1>

<hr />

<div class="row p-4">
    <div class="col-md-6">
        <form asp-action="CheckIn">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input asp-for="SSN" class="form-control" placeholder="Enter Social Security Number" />
                <span asp-validation-for="SSN" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Check-in" class="btn btn-primary" />
            </div>
        </form>
    </div>
    <div class="col-md-6 text-center">
        <h4>For Non Members</h4>
        <h2>Sign Up First</h2>
        <p>sign up is free</p>
        <a asp-action=" ">Sign Up</a>

    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
